body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


.inline-block{
    display:inline-block;
    vertical-align: top;
    padding-right:30px;
}

/* header */
header{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 12px #c5c5c5;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 48px;
}
nav.top-nav ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
nav.top-nav ul li{
    display: inline-block;
}
nav.top-nav a{
    text-decoration: none;
    padding: 0px 20px;
    color: black;
}

/* content */
h1{
    font-family: 'Arima Madurai', cursive;
    font-size: 60px;
    text-align:center;
}

h2{
    font-family: 'Arima Madurai', cursive;
    font-size: 40px;
}

.aboutMe{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom:50px;
}

.aboutText{
    padding-left:50px;
    width:50%;
}

.aboutText p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:22px;
}

.aboutPhoto{
    padding-right:50px;
}

.skillTitle{
    margin:auto;
}

h3{
    font-family: 'Arima Madurai', cursive;
    font-size:28px;
}

.skills{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:center;
}

.skills p{
    font-family: 'Source Sans pro', sans-serif;
    font-size: 22px;
}

.skillTitle{
    text-align:center;
}

.body{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 50px;
}

.skill1{
    width:30%;
}

.skill2{
    width:30%;
}

.skill3{
    width: 30%;
}

.contact{
    padding-left:50px;
    padding-bottom:50px;
}

.contact p{
    font-family: 'Source Sans pro', sans-serif;
    font-size: 22px;
}

.sidebar{
    width:22%;
    padding-left:50px;
}

.sidebar p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}

.projects{
    display:flex;
    flex-direction: column;
    height:1200px;
    align-items: center;
    justify-content: space-between;
    padding-right:50px;
    padding-top:50px;
}

.project-image{
    width: 400px
}

.project-text{
    width:400px;
}

.proj-1 .project-text{
    padding-left:30px;
}

.proj-2 .project-text{
    padding-right:30px;
}

.proj-3 .project-text{
    padding-left:30px;
}

.proj-1, .proj-3{
    display:flex;
    flex-direction: row;
    align-items:center;
}

.proj-2{
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
}

.projects p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}


footer{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align:center;
}

@media only screen and (max-width: 600px){

    .aboutMe{
        flex-direction: column;
    }

    .aboutText{
        width: 100%;
        padding-left:0px;
    }

    .skills{
        flex-direction: column;
    }

    .skill1{
        width:100%;
    }
    
    .skill2{
        width:100%;
    }
    
    .skill3{
        width: 100%;
    }
}